.about {
    background-color: var(backgrounds_norway_about-color);
}

.about__container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about__header {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 14px;
    font-style: bold;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.about__text:first-child {
    color: #505155;
}

.about__info {
    white-space: nowrap;
}

.about__text {
    white-space: normal;
    display: inline-block;
    width: 48%;
    vertical-align: top;  
}

.about__days-accent {
    color: rgb(38, 153, 219);
}

@media (min-width: 500px) {
    .about{
       background-image: url(../img/about/backgrounds_norway_about.webp);
       background-repeat: no-repeat;
       background-size: cover;
    }
 }



