.about {
    background-color: var(backgrounds_norway_about-color);
}

.about__container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about__header {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 14px;
    font-style: bold;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.about__days-accent {
    color: rgb(38, 153, 219);
}

@media (min-width: 500px) {
    .about{
       background-image: url(../img/about/backgrounds_norway_about.webp);
       background-repeat: no-repeat;
       background-size: cover;
    }
 }

.about__cards img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.about__info-cards {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.65);
    font-size: 24px;
    color: var(--h5-text-color);
    padding: 47px 27px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about__cards-h {
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 5px ;
}
.about__cards-p {
    font-size: 14px;
    color: rgb(0, 0, 0,);
    margin-bottom: 20px;
}
