@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

/* потрібно видалити зайвий розмір */

@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --h2-text-color: rgb(111, 115, 128);
  --h3-text-color: rgb(80, 81, 85);
  --h5-text-color: rgb(255, 255, 255);
  --p-text-color: rgb(80, 81, 85);
  --numbers-color: rgb(35, 36, 40);
  --span-h2-color: rgb(238, 46, 20);
}

h2 {
  font-size: 13px;
  font-weight: 500;
  line-height: 20.8px;
  letter-spacing: 0.39px;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 1.35px;
  }
p {
  font-size: 19px;
  font-weight: 400;
  line-height: 32.3px;
  
}
img {
  /* display: block;
  width: 100%; */
}
