.faq{
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    padding-top: 125px;
    padding-bottom: 90px;
}

.faq__container{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px){
    .faq__container{
        flex-direction: row;
    }
}

.faq__text-dark{
    color: var(--dark-text-color);
}

.faq__subheader, .faq__text{
    padding-top: 25px;
    padding-bottom: 25px;
}

.faq__text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.faq__img-container{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
} 

.faq-img{
    width: 100%;
}

.faq__questions{
    padding-top: 25px;
    padding-bottom: 0;
    border-bottom: 1px solid var(--dark-text-color);     
}

.faq__questions .accordion-collapse {
    border-bottom: 0; 
    border-radius: 0;
}

.faq__questions .accordion-button {
    padding: 25px;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    text-align: left;
    border-bottom: 1px solid var(--dark-text-color); 
}
.faq__questions .accordion-button:focus {
    box-shadow: none;
    border: none;
}
.faq__questions .accordion-button:not(.collapsed) {
    background: none;
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
}
.faq__questions .accordion-body {
    margin: 0;
    padding: 15px;
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
}

.faq__questions .accordion-item {
    margin: 0 auto;
}

.faq__questions .accordion-button::after {
    background-image: none;
}
.faq__questions .accordion-button:not(.collapsed)::after {
    background-image: none;
}

.faq__questions .accordion-button::before {
    width: auto;
    height: auto;
    content: "+";
    padding-right: 15px;
    font-size: 40px;
    background-image: none;
    font-weight: 100;
    color: var(--secondary-text-color);
    transform: translateY(-4px);
}
.faq__questions .accordion-button:not(.collapsed)::before {
    width: auto;
    height: auto;
    background-image: none;
    content: "-";
    padding-right: 15px;
    font-size: 48px;
    transform: translate(-5px, -4px);
    transform: rotate(0deg);
} 