.footer__container {
    width: 305px;
    height: 995px;
    background-image: url(../img/footer/mountain-wallpaper.jpg);
    background-size: cover;
    object-fit: cover;
}

.footer__email__logo,
.footer__adress__logo,
.footer__phone__logo{
    width: 50px;
    height: 50px;
}
.footer__contacts {
    width: 275px;
    height: 235px;
    background-color: rgba(0, 0, 0, 0.65);
    font-size: 24px;
    color: var(--h5-text-color);
    display: inline-block; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer__contacts__h {
    font-size: 24px;
    color: var(--h5-text-color);
}

.footer__contacts-p {
    font-size: 15px;
    color: var(--h5-text-color);
}

.footer__links {
    background-color: black;
}

.logo__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}

.logo__link:hover {
    color: var(--h5-text-color);

}

.footer__banner {
    background-color: black;
}

.social__networks__footer {
    width: 30px;
}
.created, .rights {
    color: var(--h5-text-color);
    font-size: 13px;
}

