.footer__container {
    background-image: url(../img/footer/mountain-wallpaper.jpg);
   
    background-size: auto;
    background-position: center;
    object-fit: cover;
    justify-content: space-evenly;
    border: 0;
    margin: auto;
}

@media (min-width: 800px) {
    .footer__container {
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
    }
}

.footer__contacts img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.footer__contacts {
    width: 80%;
    height: 235px;
    background-color: rgba(0, 0, 0, 0.65);
    font-size: 24px;
    color: var(--h5-text-color);
    padding: 47px 27px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
   
}

@media (min-width: 800px) {
    .footer__contacts {
     width: 275px;
     margin-right: 50px;
    }
}

.footer__contacts__h {
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.footer__contacts-p {
    font-size: 15px;
    color: rgb(169, 169, 169);
    margin-top: 20px;
}

.footer__links {
    background-color: black;
    padding: 60px 24px 15px 24px;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

.logo__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}

.logo__link:hover {
    color: var(--h5-text-color);
}

.logo__link__footer {
    width: 176px;
    height: 33px;
    margin: auto;
}

.navigation__footer {
    padding-top: 20px;
    flex-direction: column;
    margin-bottom: -10px;
    margin-top: -10px;
    max-width: calc(100% + 20px);
    width: calc(100% + 10px);
}

.navigation__footer li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navigation__links__footer {
    color: rgba(255, 255, 255, 0.4);
    font-size: 17px;
    text-decoration: none;
}

.navigation__links__footer:hover {
    color: rgb(255, 255, 255);
}

.footer__banner {
    background-color: black;
    justify-content: center;
    text-align: center;
}

@media (min-width: 900px) {
    .footer__banner {
        display: flex;
        justify-content: space-evenly;
    }
}

.social__networks__footer {
    width: 22px;
    height: 22px;
}

.created, .rights {
    color: rgb(255, 255, 255);
    font-size: 12px;
}

@media (min-width: 1000px) {
    .navigation__footer li {
        display: inline;
    }
}