.norway__container {
    overflow: hidden;
    margin: 100px auto;
}
@media (min-width: 767.98px) {
    .container__flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px; 
        align-content: space-between;
    }
}
.norway h2 {
    color: var(--h2-text-color);
    text-transform: uppercase;
    font-weight: bold;
}
.dash {
    color: var(--dash-color);
}
.norway h3 {
    color: var(--text-color);
    padding: 20px 0px 40px 0px;
}
.norway p {
    color: var(--p-text-color);
    padding: 0px 0px 28px 0px;
}
@media (min-width: 767.98px) {
    .norway__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media (min-width: 1092px) {
    .norway__items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: none;
    }
}
.norway__items {
    padding: 28px 0px 28px 0px;
}
.item__number {
    color: var(--numbers-color);
    font-weight: 500;
    line-height: 60px;
    font-size: 60px;
    text-align: center;
    padding-bottom: 20px;
}
.item__subtext {
    color: var(--text-color);
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    text-align: center;
    padding: 12px 0px 0px 0px;
}
.video__container {
    background-image: url(../img/norway/video-background.jpg);
    height: 414px;
    /* background-position-x: 50%;
    background-position-y: 60.16%; */
    object-fit: cover;
    object-position: 50% 50%;
}
.icon__play-image {
    width: 50px;
    margin: auto;
    padding: 182px 0px 0px 0px;
}
.icon__play-tittle {
    color: var(--text-color-background);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    text-align: center;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px 0px 0px;
}
@media (min-width: 767.98px) {
    .video__container {
     height: 531px;
    }
    .icon__play-image {
        padding: 240px 0px 0px 0px;
    }
}
@media (min-width: 1092px) {
    .video__container {
     height: 660px;
    }
    .icon__play-image {
        padding: 305px 0px 0px 0px;
    }
}