.city_name {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.city_desr {
  grid-column: 2;
  grid-row: 1;
}

.content_img {
  grid-column: 1;
  grid-row: 1;
}

.city_desr {
  margin: 100px 20px 200px 20px;
  max-width: 500px;
}

.city_desr .city_terms ul {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  list-style-type: none;
}

.city_desr .city_terms .first {
  grid-column: 1;
  grid-row: 1;
  color: red;
  font-weight: 700;
}

.city_desr .city_terms .second {
  grid-column: 2;
  grid-row: 1;
  font-weight: 600;
}

.btn {
  --bs-btn-border-radius: 0;
  --bs-btn-bg: #14a9ee;
  position: absolute;
}

.btn-info {
  --bs-btn-color: #ffff;
  --bs-btn-hover-color: #ffff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
}

button, input, optgroup, select, textarea {
  margin: 0;
  margin-top: 10px;
}

#norway_city {
  height: 800px;
}

#norway_city img {
  margin-left: 100px;
  display: block;
  height: 100%;
  width: 75%;
}

.content_img {
  margin: 0 auto;
  height: 750px;
  padding-top: 20px;
}

.desr_elements ul {
  list-style-type: none;
  padding-left: 0;
}

.desr_elements ul>li {
  height: 40px;
}

.desr_elements .desr_list span {
  color: #707070;
}

.places {
  margin-bottom: 100px;
}

.places__container .tab_name {
  color: #707070;
}

.places_subheader {
  margin-bottom: 50px;
  width: 775px;
}
