.city_name {
display: grid;
grid-template-columns: 1fr 1fr;
}

.city_desr {
  margin: 200px 20px 200px 20px;
}

#norway_city {
  height: 800px;
}

#norway_city img {
  display: block;
  width: 100%;
  height: 100%;
}

.content_img {
  height: 750px;
  padding-top: 20px;
}

.places__container span {
  color: #707070;
}