/* $npm i bootstrap-icons */

.spots{
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    padding-top: 125px;
}

.spots__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spots__text-dark{
    color: var(--dark-text-color);
}

.spots__text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 58px;
    max-width: 770px;
}

.spots__subheader, .spots__text, .spots__quote, .quote__text, .quote__author{
    padding-top: 25px;
    padding-bottom: 25px;
}

.spots__quote{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 770px;
    border-top: 1px solid var(--dark-text-color);
    border-bottom: 1px solid var(--dark-text-color);
}

.quote__author{
    color: var(--dark-text-color);
}

.quote__text, .quote__author{
    margin: auto;
}

.quote__img-container{
    display: flex;
    justify-content: center;
}

.quote__quotation-mark{
    margin-top: -50px;
    background-color: var(--secondary-background-color);
    padding-left: 20px;
    padding-right: 20px;
    width: 90px;
}

 .spots__gallery{
    max-width: 770px;
    margin: auto;
    padding-bottom: 120px;
 }