.testimonials {
    background-color: var(--testimonials-background-color);

}


.testimonials__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.testimonials__header {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 14px;
    font-style: bold;
    margin-bottom: 30px;
}
.carousel-indicators [data-bs-target] {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0 15px -30px 15px;
}
.travelers {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;

}

.testimonials__text {
    color: var(--p-text-color);
    padding: 0 30px;
    margin-bottom: 40px;
}

.experience__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.experience__image,
.experience__name,
.experience__text {
    margin-top: 30px;
}

.experience__name {
    margin-top: 10px;
}

.experience__text {
    padding: 0 50px;
    margin-bottom: 20px;
    color: var(--p-text-color);
}

.experience__date {
    margin-bottom: 30px;
}

@media (min-width: 500px) {
   .testimonials{
      background-image: url(../img/testimonials/testimonials_background.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
   }
}

@media (min-width:1020px) {
    .testimonials__header{
        font-size: 13px;
        font-weight: 500;  
    }
    .travelers {
        font-size: 45px;
        font-weight: 700;
        letter-spacing: 1.35px;
    }
    .testimonials__text {
        font-size: 19px;
        font-weight: 400;
    }
}
